.note-field-container {
    margin-top: 1.4rem;
    display: none;
}

.note-field {
    width: 100%;
    height: 100%;
    background-color: #31344d;
    transition: all ease-in-out .3s;
    border-radius: 5px;
    padding: 1rem;
}

.note-field textarea {
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    color: white;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
}

.note-field-container.display {
    display: block;
}